*.tif
ckpts/*
data/*
*.json
*.pyc
*.csv
dswx_data/*
colorado-sentinel/*
colorado-landsat/*
colorado_data/*
colorado-opera/*
slurm/*
10_slurm_opera/*
usa-landsat/*
usa-opera/*
usa-sentinel/*
hls-landsat/*
hls-sentinel/*
opera/*
hls-super-script/*
*.png
*.tif